.container{
    height: 100vh;
}

.container > .row{
    margin-top: 20%;
}

.row > h2{
    text-align: center;

}
.col> input{
    margin-bottom: 10px;
}

.form-check{
    margin-top: 20px;
}

button{
    margin-top: 10px;
}